.search-box-container {
    width: 50%;
    align-self: flex-start;
    margin-top: 10%;
}
.search-box {
    font-family: 'Cormorant Garamond';
    border: none;
    width: 100%;
    height: 50px;
    font-size: 48px;
    background: none;
    color: #e6e9f0;
    padding: 20px 10px;
    transition: 0.2s ease;
    border-bottom: 1px solid #ff8906;
}

.search-box:focus,
.search-box:active {
    border: none;
    outline: none;
    border-width: 4px;
    border-bottom: 3px solid #ff8906;
    transition: 0.2s ease-in-out;
}

@media only screen and (max-width: 600px) {
    .search-box-container {
        width: 90%;
        align-self: flex-start;
        margin-top: 35%;
    }
    .search-box {
        padding: 0;
    }
}
